In [250]:
%run import_packages/import_packages.ipynb

%run function/functions.ipynb

In [241]:
import_csv()

(       UserID          ApplicationDate   JobID
 0         698  2012-04-19 16:00:37.407  421060
 1         698  2012-04-19 16:01:38.867  119601
 2         698  2012-04-27 20:27:07.457  172463
 3        2305  2012-04-20 13:27:36.207  317319
 4        2305   2012-04-20 13:27:36.15  925011
 ...       ...                      ...     ...
 9390  1470245   2012-04-20 10:49:28.73  496395
 9391  1470394   2012-04-22 02:30:19.22  339499
 9392  1472022   2012-04-19 15:25:41.05  834875
 9393  1472022  2012-04-19 17:37:13.653  739020
 9394  1472022  2012-04-03 21:55:27.353  174030

 [9395 rows x 3 columns],
         JobID                                              Title  \
 0          75                           Administrative Assistant
 1         505                                           LAB TECH
 2         764                              Travel-Seasonal Staff
 3         766                     MARKETING/ Social Media intern
 4         781                                     Printing Sales
 ...       ...                                                ...
 4286  1115583                Implementation Consultant - Virtual
 4287  1115739                               Auto Finance Manager
 4288  1115740                                  Import Auto Sales
 4289  1115747  Automotive Sales / Auto Sales / New & Pre-Owne...
 4290  1115925                     Normal - Instore Retail Banker

                                             Description  \
 0     The Administrative Assistant must be reliable ...
 1     S. Florida Medical Device Co. seeks QC Lab Tec...
 2     <p>Travel-Seasonal Staff </p> <p> CB331736 Ros...
 3     <p>Marketing Rep </p> <p> CB326227 Chicago </p...
 4     <p>Printing Sales Experienced, outside sales w...
 ...                                                 ...
 4286  <p>Luceo Solutions, LLC &nbsp;creates cloud ba...
 4287  <strong>Auto Finance Manager\r</strong>\r<p><s...
 4288  <br />\rAuto Sales\r<p></p>\r<p>Auto Sales<spa...
 4289  <br />\r<strong>Automotive Sales / Auto Sales ...
 4290  <EM><STRONG>Retail Banker (In-Store)</STRONG><...

                                            Requirements           City State  \
 0     Please refer to the Job Description to view th...        Houston    TX
 1     General knowledge of scientific or clinical la...     Plantation    FL
 2     Please refer to the Job Description to view th...    Des Plaines    IL
 3     Please refer to the Job Description to view th...        Chicago    IL
 4     Please refer to the Job Description to view th...  Schiller Park    IL
 ...                                                 ...            ...   ...
 4286  <ul>\r    <li>3+ &nbsp;years of project manage...        Chicago    IL
 4287  <p><strong></strong></p>\r<br />\r<ul>\r    <l...         Gurnee    IL
 4288  <br />\r<ul>\r    <li>Excellent communication ...     Schaumburg    IL
 4289  <br />\r<ul>\r    <li>Demonstrated leadership ...   Libertyville    IL
 4290  <BR> <B><I>Education</I></B>           <BR> Hi...         Normal    IL

      Country     Zip5                StartDate              EndDate
 0         US  77036.0  2012-03-30 01:23:57.737  2012-04-29 23:59:59
 1         US  33313.0  2012-03-23 04:48:17.063  2012-04-22 23:59:59
 2         US  60018.0  2012-03-18 05:19:04.863  2012-04-17 23:59:59
 3         US  60606.0   2012-03-22 10:33:46.89  2012-04-21 23:59:59
 4         US  60176.0  2012-04-01 01:16:40.797  2012-04-30 23:59:59
 ...      ...      ...                      ...                  ...
 4286      US      NaN  2012-03-27 15:50:52.623  2012-04-26 23:59:59
 4287      US  60031.0  2012-04-11 16:32:03.237  2012-05-10 23:59:59
 4288      US  60173.0   2012-04-22 17:30:02.78  2012-05-21 23:59:59
 4289      US  60048.0  2012-03-26 09:45:32.863  2012-04-25 23:59:59
 4290      US  61761.0  2012-04-04 15:05:34.417  2012-05-03 23:59:59

 [4291 rows x 10 columns],
       UserID             City State Country  ZipCode  DegreeType  \
 0      12924          Chicago    IL      US    60628  Bachelor's
 1      18947          Chicago    IL      US    60647        None
 2      20976  Rolling Meadows    IL      US    60008    Master's
 3      21412          Chicago    IL      US    60649        None
 4      40564             Zion    IL      US    60099        None
 ..       ...              ...   ...     ...      ...         ...
 272  1454754      Des Plaines    IL      US    60016  Bachelor's
 273  1458384          Chicago    IL      US    60630        None
 274  1458917           Aurora    IL      US    60502  Bachelor's
 275  1466313         Glenview    IL      US    60026    Master's
 276  1471500       Crest Hill    IL      US    60403        None

                              Major       GraduationDate  WorkHistoryCount  \
 0                              NaN  2005-05-01 00:00:00                 4
 1                              NaN                  NaN                 6
 2                              NaN                  NaN                 5
 3                    Basic Studies  2007-01-01 00:00:00                 5
 4                              NaN                  NaN                 6
 ..                             ...                  ...               ...
 272          Accounting & Auditing                  NaN                 7
 273                            NaN                  NaN                10
 274  Telecommunications Management  2001-10-01 00:00:00                 6
 275           Marketing/Management                  NaN                 8
 276                            NaN                  NaN                 7

      TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
 0                     9.0               Yes            No               0
 1                    22.0               Yes            No               0
 2                     6.0                No           Yes               6
 3                     5.0               Yes            No               0
 4                     5.0               NaN            No               0
 ..                    ...               ...           ...             ...
 272                  27.0                No            No               0
 273                  23.0               NaN            No               0
 274                   6.0               NaN            No               0
 275                  22.0               Yes            No               0
 276                   9.0                No            No               0

 [277 rows x 13 columns],
        UserID            City State Country ZipCode   DegreeType  \
 0          23  Mount Prospect    IL      US   60056  High School
 1         698          Normal    IL      US   61761         None
 2        2305     Lake Forest    IL      US   60045         None
 3        2785         Chicago    IL      US   60607   Bachelor's
 4        3406          Joliet    IL      US   60435   Bachelor's
 ...       ...             ...   ...     ...     ...          ...
 2332  1469784         Chicago    IL      US   60647     Master's
 2333  1470222      Round Lake    IL      US   60073     Master's
 2334  1470245         Chicago    IL      US   60608   Bachelor's
 2335  1470394          Dekalb    IL      US   60115   Bachelor's
 2336  1472022        Elmhurst    IL      US   60126         None

                       Major       GraduationDate  WorkHistoryCount  \
 0            Not Applicable  2002-01-01 00:00:00                 3
 1                       NaN                  NaN                 4
 2                 insurance  2010-12-01 00:00:00                 4
 3     International Affairs  2005-01-01 00:00:00                 6
 4                   English                  NaN                 3
 ...                     ...                  ...               ...
 2332                Finance  1997-01-01 00:00:00                 6
 2333               Computer                  NaN                 4
 2334                Finance  1996-06-01 00:00:00                11
 2335                Finance  2012-05-01 00:00:00                 3
 2336                    NaN                  NaN                 0

       TotalYearsExperience CurrentlyEmployed ManagedOthers  ManagedHowMany
 0                     10.0               Yes            No               0
 1                      7.0               Yes            No               0
 2                      9.0               Yes            No               0
 3                     10.0               Yes            No               0
 4                     20.0                No           Yes             350
 ...                    ...               ...           ...             ...
 2332                  19.0               NaN            No               0
 2333                  18.0               NaN            No               0
 2334                  16.0               Yes            No               0
 2335                   2.0                No            No               0
 2336                   NaN               NaN            No               0

 [2337 rows x 13 columns],
         UserID  Sequence                                          JobTitle
 0           23         1                                           Manager
 1           23         2                               Assisting customers
 2           23         3                                               NaN
 3          698         1                                  Advocate Bromenn
 4          698         2  Customer Service, Patient contact, drawing blood
 ...        ...       ...                                               ...
 11553  1471500         3                                   Cocktail Server
 11554  1471500         4     ICS Associate /Overnight Stock/Truck Unloader
 11555  1471500         5                                   Cocktail Server
 11556  1471500         6                                            Server
 11557  1471500         7                                            Server

 [11558 rows x 3 columns])

In [242]:
jobs["Description"] = clean_html(jobs,"Description")

jobs["Requirements"] = jobs["Requirements"].fillna("no requirements")
jobs["Requirements"] = clean_html(jobs,"Requirements")

In [245]:
#!pip install sentence-transformers

from sentence_transformers import SentenceTransformer
model = SentenceTransformer('bert-base-uncased')

Requirement already satisfied: sentence-transformers in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (2.2.0)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (4.16.2)
Requirement already satisfied: tqdm in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (4.47.0)
Requirement already satisfied: torchvision in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (0.11.3)
Requirement already satisfied: scikit-learn in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (0.23.1)
Requirement already satisfied: sentencepiece in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (0.1.96)
Requirement already satisfied: nltk in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (3.5)
Requirement already satisfied: huggingface-hub in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (0.4.0)
Requirement already satisfied: scipy in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (1.5.0)
Requirement already satisfied: numpy in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (1.22.1)
Requirement already satisfied: torch>=1.6.0 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sentence-transformers) (1.10.2)
Requirement already satisfied: pyyaml>=5.1 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (5.3.1)
Requirement already satisfied: sacremoses in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.0.47)
Requirement already satisfied: packaging>=20.0 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (21.3)
Requirement already satisfied: requests in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2.24.0)
Requirement already satisfied: regex!=2019.12.17 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2020.6.8)
Requirement already satisfied: tokenizers!=0.11.3,>=0.10.1 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.11.4)
Requirement already satisfied: filelock in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (3.0.12)
Requirement already satisfied: pillow!=8.3.0,>=5.3.0 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from torchvision->sentence-transformers) (7.2.0)
Requirement already satisfied: joblib>=0.11 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sentence-transformers) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->sentence-transformers) (2.1.0)
Requirement already satisfied: click in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from nltk->sentence-transformers) (7.1.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from huggingface-hub->sentence-transformers) (4.0.1)
Requirement already satisfied: six in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from sacremoses->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from packaging>=20.0->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.4.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/sylvainjiang/opt/anaconda3/lib/python3.8/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.25.9)

WARNING:root:No sentence-transformers model found with name /Users/sylvainjiang/.cache/torch/sentence_transformers/bert-base-uncased. Creating a new one with MEAN pooling.
Some weights of the model checkpoint at /Users/sylvainjiang/.cache/torch/sentence_transformers/bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.weight', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [244]:
jobs["text_embedding"] = jobs.Title.apply(lambda x:model.encode(x))

In [253]:
jobs

,JobID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate,desc_token,text_embedding
0,75,Administrative Assistant,The Administrative Assistant must be reliable ...,Please refer to the Job Description to view th...,Houston,TX,US,77036.0,2012-03-30 01:23:57.737,2012-04-29 23:59:59,"[101, 1996, 3831, 3353, 2442, 2022, 10539, 199...","[-0.007833853, 0.14798518, -0.39389515, 0.1597..."
1,505,LAB TECH,S. Florida Medical Device Co. seeks QC Lab Tec...,General knowledge of scientific or clinical la...,Plantation,FL,US,33313.0,2012-03-23 04:48:17.063,2012-04-22 23:59:59,"[101, 1055, 1012, 3516, 2966, 5080, 2522, 1012...","[0.20930749, -0.37957147, -0.28042608, 0.02645..."
2,764,Travel-Seasonal Staff,Travel-Seasonal Staff CB331736 Rosemont 2hr...,Please refer to the Job Description to view th...,Des Plaines,IL,US,60018.0,2012-03-18 05:19:04.863,2012-04-17 23:59:59,"[101, 3604, 1011, 12348, 3095, 17324, 22394, 1...","[0.08401955, 0.31255236, 0.06262132, 0.086869,..."
3,766,MARKETING/ Social Media intern,Marketing Rep CB326227 Chicago Apply By Ema...,Please refer to the Job Description to view th...,Chicago,IL,US,60606.0,2012-03-22 10:33:46.89,2012-04-21 23:59:59,"[101, 5821, 16360, 17324, 16703, 2575, 19317, ...","[0.34554133, 0.04740264, -0.02821699, -0.02829..."
4,781,Printing Sales,"Printing Sales Experienced, outside sales with...",Please refer to the Job Description to view th...,Schiller Park,IL,US,60176.0,2012-04-01 01:16:40.797,2012-04-30 23:59:59,"[101, 8021, 4341, 5281, 1010, 2648, 4341, 2007...","[0.49098462, 0.2779984, -0.31985313, 0.1622207..."
...,...,...,...,...,...,...,...,...,...,...,...,...
4286,1115583,Implementation Consultant - Virtual,"Luceo Solutions, LLC creates cloud based solut...","3+ years of project management experience, wit...",Chicago,IL,US,NaN,2012-03-27 15:50:52.623,2012-04-26 23:59:59,"[101, 19913, 2080, 7300, 1010, 11775, 9005, 61...","[-0.2231522, -0.10989037, -0.33687654, 0.12387..."
4287,1115739,Auto Finance Manager,Auto Finance ManagerAUTO Gurnee VWFinance ...,Auto dealership experience a must! Strong w...,Gurnee,IL,US,60031.0,2012-04-11 16:32:03.237,2012-05-10 23:59:59,"[101, 8285, 5446, 3208, 4887, 3406, 19739, 121...","[0.24724302, -0.20970175, -0.1628867, 0.078699..."
4288,1115740,Import Auto Sales,"Auto SalesAuto Sales Schaumburg, ILBob ...",Excellent communication and customer service s...,Schaumburg,IL,US,60173.0,2012-04-22 17:30:02.78,2012-05-21 23:59:59,"[101, 8285, 4341, 4887, 3406, 4341, 8040, 3270...","[0.49811524, 0.15589216, 0.038512986, 0.132860..."
4289,1115747,Automotive Sales / Auto Sales / New & Pre-Owne...,Automotive Sales / Auto Sales / New & Pre-Owne...,Demonstrated leadership abilities Superior...,Libertyville,IL,US,60048.0,2012-03-26 09:45:32.863,2012-04-25 23:59:59,"[101, 12945, 4341, 1013, 8285, 4341, 1013, 204...","[0.47247127, 0.02970176, 0.57136554, 0.2886786..."
4290,1115925,Normal - Instore Retail Banker,Retail Banker (In-Store) Demonstrate excellen...,Education High school diploma or equivalent E...,Normal,IL,US,61761.0,2012-04-04 15:05:34.417,2012-05-03 23:59:59,"[101, 7027, 13448, 1006, 1999, 1011, 3573, 100...","[0.28321928, -0.41361502, 0.13981432, 0.059541..."

In [246]:
predict_list = test_preprocessing()

In [247]:
predict_list

,UserID,JobTitle,text_embedding
0,12924,Substitute Teacher,"[-0.0026329756, -0.19665325, -0.49724612, 0.15..."
1,12924,Customer Service/ Sales Representative,"[0.084989116, -0.20626657, 0.06568836, 0.09980..."
2,12924,Homemaker,"[0.001484096, -0.24982494, -0.004183419, -0.14..."
3,18947,Receiving Supervisor-Operations,"[-0.02271839, -0.06637115, -0.36689684, 0.0323..."
4,18947,Lead Set-Up- Operations,"[0.05685339, -0.14860526, -0.47306323, 0.01697..."
...,...,...,...
1006,1466313,"Director, Strategic Planning and Business Deve...","[-0.47437122, -0.029350854, -0.026192266, -0.1..."
1007,1471500,Stocker,"[0.29052943, -0.27675667, -0.017016292, -0.308..."
1008,1471500,Cocktail Server,"[0.08232073, -0.27491677, -0.22329877, 0.09526..."
1009,1471500,ICS Associate /Overnight Stock/Truck Unloader,"[0.06758036, -0.39562687, 0.060328696, 0.09905..."
1010,1471500,Server,"[-0.106515825, -0.28575912, -0.24387848, 0.060..."

In [251]:
predict_list = predict_job(predict_list,jobs)

In [252]:
predict_list

,UserID,JobTitle,text_embedding,predict_id,job_title,similarity
0,12924,Substitute Teacher,"[-0.0026329756, -0.19665325, -0.49724612, 0.15...","[161517, 800274, 584719]","[Senior Education Coordinator, ADMINISTRATIVE ...","[0.7918394804000854, 0.7842969298362732, 0.784..."
1,12924,Customer Service/ Sales Representative,"[0.084989116, -0.20626657, 0.06568836, 0.09980...","[987728, 500681, 999469]","[Customer Service/Sales Coordinator, Customer ...","[0.961249828338623, 0.9486912488937378, 0.9348..."
2,12924,Homemaker,"[0.001484096, -0.24982494, -0.004183419, -0.14...","[300776, 362517, 823088]","[Die maker, Career Change!, Consumer Collector]","[0.7880907654762268, 0.7628033757209778, 0.761..."
3,18947,Receiving Supervisor-Operations,"[-0.02271839, -0.06637115, -0.36689684, 0.0323...","[1024404, 382173, 479023]","[Training Manager - Operations, Part-time Ware...","[0.8648204803466797, 0.845349907875061, 0.8399..."
4,18947,Lead Set-Up- Operations,"[0.05685339, -0.14860526, -0.47306323, 0.01697...","[1024404, 633100, 6023]","[Training Manager - Operations, Staffing On-Si...","[0.8289006948471069, 0.8143666386604309, 0.809..."
...,...,...,...,...,...,...
1006,1466313,"Director, Strategic Planning and Business Deve...","[-0.47437122, -0.029350854, -0.026192266, -0.1...","[845880, 771661, 142826]","[Director, Business Development and Sales, Dir...","[0.9193586707115173, 0.8865780830383301, 0.867..."
1007,1471500,Stocker,"[0.29052943, -0.27675667, -0.017016292, -0.308...","[734275, 969928, 206381]","[Stocker, Biller, Welder]","[0.9999998807907104, 0.9226150512695312, 0.743..."
1008,1471500,Cocktail Server,"[0.08232073, -0.27491677, -0.22329877, 0.09526...","[521862, 946711, 505]","[Bartender, Hospital Housekeeper, LAB TECH]","[0.8566378951072693, 0.8412854671478271, 0.832..."
1009,1471500,ICS Associate /Overnight Stock/Truck Unloader,"[0.06758036, -0.39562687, 0.060328696, 0.09905...","[184085, 987144, 1090011]","[Bulk Express Dispatcher/Scheduler, Forklift/W...","[0.8173261880874634, 0.8106752634048462, 0.796..."
1010,1471500,Server,"[-0.106515825, -0.28575912, -0.24387848, 0.060...","[598446, 249108, 549390]","[Server, WAREHOUSE, WAREHOUSE]","[0.9999998807907104, 0.8933239579200745, 0.893..."